services:  
  minio:
    image: minio/minio:latest
    container_name: minio_ifta
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    environment:
      - MINIO_ROOT_USER=minioadmin_ifta
      - MINIO_ROOT_PASSWORD=minioadmin_ifta
    volumes:
      - ./minio-data:/data
    networks:
      - ifta_network

  postgres:
    container_name: postgres_ifta
    image: postgres:14.18
    ports:
      - 5000:5432
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
    volumes:
      - ./postgres/data:/var/lib/postgresql/data  
    networks:
      - ifta_network
      - dbt_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_ifta
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: user@ifta.com
      PGADMIN_DEFAULT_PASSWORD: mypassword
    ports:
      - "5051:80"
    depends_on:
      - postgres
    networks:
      - ifta_network

  af:
    container_name: airflow_ifta
    image: apache/airflow:3.0.0
    user: "5000:0"
    ports:
      - 8001:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://db_user:db_password@postgres:5432/db
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./api-request:/opt/airflow/api-request
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - postgres
      - minio
    networks:
      - ifta_network
    command: >
      bash -c "airflow db migrate && airflow standalone"

  fastapi:
    build: ./fastapi
    container_name: fastapi_ifta
    ports:
      - "8005:8005"
    networks:
      - ifta_network

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    container_name: dbt_ifta
    volumes:
      - ./dbt:/usr/app/dbt
      - ./profiles.yml:/root/.dbt/profiles.yml
    working_dir: /usr/app/dbt
    environment:
      DBT_USER: db_user
      DBT_PASSWORD: db_password
      DBT_HOST: postgres
      DBT_DB: db
      DBT_SCHEMA: analytics
    entrypoint: /bin/bash
    command: -c "tail -f /dev/null"
    depends_on:
      - postgres
    networks:
      - dbt_network
      - ifta_network
networks:
  ifta_network:
    driver: bridge     

  dbt_network: # <-- This definition was missing and is crucial
    driver: bridge
